In [73]:
import csv
import pandas as pd
import numpy as np

source = 'Education Counts Summary Tables/' 
fname = source+'Provider Summary Tables 2016 LOOKUP INTERPOLATED'
col_name = 'Student Enrolments'
transform_fname = source+'Provider Summary Tables 2016 LOOKUP INTERPOLATED REFORMATTED'

In [74]:
file = pd.read_csv(fname+'.csv', parse_dates=['Month'], dayfirst=True)
file

,Month,Wellington,Auckland,Canterbury,Otago,Waikato,Bay of Plenty,Southland,Hawke's Bay,West Coast,Northland,Nelson,Manawatu-Wanganui,Taranaki
0,2008-03-01,109010,90620,50710,27575,26115,19610,10170,8340,10030,8505,7030,7645,4120
1,2008-06-01,110084,91883,50863,27660,26184,19559,10250,8395,9521,8434,7165,7525,4253
2,2008-09-01,111158,93145,51015,27745,26253,19508,10330,8450,9013,8363,7300,7405,4385
3,2008-12-01,112231,94408,51168,27830,26321,19456,10410,8505,8504,8291,7435,7285,4518
4,2009-03-01,113305,95670,51320,27915,26390,19405,10490,8560,7995,8220,7570,7165,4650
5,2009-06-01,112615,96368,50815,27959,25533,19099,10359,8603,7873,7891,7506,6886,4606
6,2009-09-01,111925,97065,50310,28003,24675,18793,10228,8645,7750,7563,7443,6608,4563
7,2009-12-01,111235,97763,49805,28046,23818,18486,10096,8688,7628,7234,7379,6329,4519
8,2010-03-01,110545,98460,49300,28090,22960,18180,9965,8730,7505,6905,7315,6050,4475
9,2010-06-01,109149,97706,46383,28134,22103,17874,9834,8773,7383,6576,7251,5771,4431
10,2010-09-01,107753,96953,43465,27728,21957,17148,9348,8505,7175,6384,6876,5661,3991
11,2010-12-01,106356,96199,40548,27321,21811,16421,8861,8238,6968,6192,6500,5550,3550
12,2011-03-01,104960,95445,37630,26915,21665,15695,8375,7970,6760,6000,6125,5440,3110
13,2011-06-01,104526,95415,37944,26796,21711,15731,8455,7923,6850,5923,6020,5345,3191
14,2011-09-01,104093,95385,38258,26678,21758,15768,8535,7875,6940,5845,5915,5250,3273
15,2011-12-01,103659,95355,38571,26559,21804,15804,8615,7828,7030,5768,5810,5155,3354
16,2012-03-01,103225,95325,38885,26440,21850,15840,8695,7780,7120,5690,5705,5060,3435
17,2012-06-01,102793,95103,38055,26420,21878,15734,8620,7639,6954,5638,5574,5050,3373
18,2012-09-01,102360,94880,37225,26400,21905,15628,8545,7498,6788,5585,5443,5040,3310
19,2012-12-01,101928,94658,36395,26380,21933,15521,8470,7356,6621,5533,5311,5030,3248
20,2013-03-01,101495,94435,35565,26360,21960,15415,8395,7215,6455,5480,5180,5020,3185
21,2013-06-01,101030,94334,35183,26415,22070,15453,8501,7449,6403,5636,5133,5053,3158
22,2013-09-01,100564,94233,34800,26470,22180,15490,8608,7683,6350,5793,5085,5085,3130
23,2013-12-01,100099,94131,34418,26525,22290,15528,8714,7916,6298,5949,5038,5118,3103
24,2014-03-01,99634,94030,33833,26580,22436,15565,8820,8150,6396,6177,5020,5102,3135
25,2014-06-01,99741,94498,33787,26585,22462,15541,9024,7950,6262,6254,5097,5073,3145
26,2014-09-01,99848,94965,33740,26590,22488,15518,9228,7750,6129,6331,5174,5043,3155
27,2014-12-01,99955,95433,33694,26595,22514,15494,9431,7550,5995,6408,5251,5014,3165
28,2015-03-01,100061,95900,33648,26600,22541,15470,9635,7350,5861,6485,5328,4985,3175
29,2015-06-01,100168,95610,33602,26780,22567,13101,9761,7500,5727,6562,5404,4955,3185
30,2015-09-01,100275,95320,33555,26960,22593,10733,9888,7650,5594,6638,5481,4926,3195
31,2015-12-01,100382,95030,33509,27140,22619,8364,10014,7800,5460,6715,5558,4897,3205
32,2016-03-01,100489,94740,33463,27320,22646,5995,10140,7950,5326,6792,5635,4867,3215
33,2016-06-01,105297,95376,40118,23699,23920,16044,9239,8009,5192,6869,5712,4838,3225
34,2016-09-01,104160,94686,36864,23812,22566,19258,9041,7753,5059,6946,5789,4808,3235
35,2016-12-01,104529,94578,37716,22655,23195,14840,9321,8056,4925,7023,5866,4779,3245
36,2017-03-01,110405,94715,36021,23701,22378,12884,9703,8366,4791,7100,5943,4750,3255
37,2017-06-01,106909,95320,36732,22642,24210,16891,9480,8402,4657,7177,6019,4720,3265
38,2017-09-01,105782,95352,35114,23490,21983,15071,9361,7783,4524,7253,6096,4691,3275
39,2017-12-01,103318,94565,44150,23404,24196,14151,9709,8196,4390,7330,6173,4662,3285
40,2018-03-01,106493,95263,38847,24458,24884,15738,10036,8366,4256,7407,6250,4632,3295
41,2018-06-01,104499,95446,42358,22686,22606,17713,9445,8097,4122,7484,6327,4603,3305
42,2018-09-01,107137,95095,41084,22956,22681,14426,10076,8043,3989,7561,6404,4573,3315
43,2018-12-01,107775,94841,42874,23162,23013,14074,9582,7875,3855,7638,6481,4544,3325

In [75]:
regions = list(file)
del regions[0]

transformed = pd.DataFrame()

for region in regions:
    region_dataframe = file['Month'].to_frame()
    region_dataframe['Region']=region
    region_dataframe[col_name]=file[region]
    transformed = pd.concat([transformed, region_dataframe])
    
transformed.to_csv(transform_fname+'.csv')
transformed

        Month      Region  Student Enrolments
0  2008-03-01  Wellington              109010
1  2008-06-01  Wellington              110084
2  2008-09-01  Wellington              111158
3  2008-12-01  Wellington              112231
4  2009-03-01  Wellington              113305
5  2009-06-01  Wellington              112615
6  2009-09-01  Wellington              111925
7  2009-12-01  Wellington              111235
8  2010-03-01  Wellington              110545
9  2010-06-01  Wellington              109149
10 2010-09-01  Wellington              107753
11 2010-12-01  Wellington              106356
12 2011-03-01  Wellington              104960
13 2011-06-01  Wellington              104526
14 2011-09-01  Wellington              104093
15 2011-12-01  Wellington              103659
16 2012-03-01  Wellington              103225
17 2012-06-01  Wellington              102793
18 2012-09-01  Wellington              102360
19 2012-12-01  Wellington              101928
20 2013-03-01  Wellington              101495
21 2013-06-01  Wellington              101030
22 2013-09-01  Wellington              100564
23 2013-12-01  Wellington              100099
24 2014-03-01  Wellington               99634
25 2014-06-01  Wellington               99741
26 2014-09-01  Wellington               99848
27 2014-12-01  Wellington               99955
28 2015-03-01  Wellington              100061
29 2015-06-01  Wellington              100168
..        ...         ...                 ...
14 2011-09-01    Taranaki                3273
15 2011-12-01    Taranaki                3354
16 2012-03-01    Taranaki                3435
17 2012-06-01    Taranaki                3373
18 2012-09-01    Taranaki                3310
19 2012-12-01    Taranaki                3248
20 2013-03-01    Taranaki                3185
21 2013-06-01    Taranaki                3158
22 2013-09-01    Taranaki                3130
23 2013-12-01    Taranaki                3103
24 2014-03-01    Taranaki                3135
25 2014-06-01    Taranaki                3145
26 2014-09-01    Taranaki                3155
27 2014-12-01    Taranaki                3165
28 2015-03-01    Taranaki                3175
29 2015-06-01    Taranaki                3185
30 2015-09-01    Taranaki                3195
31 2015-12-01    Taranaki                3205
32 2016-03-01    Taranaki                3215
33 2016-06-01    Taranaki                3225
34 2016-09-01    Taranaki                3235
35 2016-12-01    Taranaki                3245
36 2017-03-01    Taranaki                3255
37 2017-06-01    Taranaki                3265
38 2017-09-01    Taranaki                3275
39 2017-12-01    Taranaki                3285
40 2018-03-01    Taranaki                3295
41 2018-06-01    Taranaki                3305
42 2018-09-01    Taranaki                3315
43 2018-12-01    Taranaki                3325

[572 rows x 3 columns]